input , nb-select , button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.errorText{
    margin-top: -22px;
    margin-left: 92px;
    font-size: 13px;
    color: red;
    text-align: center;
}