@import '~@nebular/theme/styles/globals';

.adminMenu{
    width: 300px;
    height: 100x;
    border: silver 3px solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
}

.adminMenu:hover{
    width: 300px;
    height: 100x;
    border: black 3px solid;
    color: silver;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
}

.adminB{
    height: 100%;
    width: 100%;
    border: none;
    background: none;
}





